* {
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------
                            font 
 --------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Poppins:wght@500;700&family=Work+Sans:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/*-------------------------------------------------------------
                    header-section start 
 -------------------------------------------------------------*/
.page-header {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 63px 150px 0px 220px;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 25px;

}

nav ul li a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 18px;

}

/*--------------------------------------------------------------
                    header-section end
 -------------------------------------------------------------*/
/*--------------------------------------------------------------
                    section-one start  
 --------------------------------------------------------------*/
 /* ------------------------------------------------------------
                    banner-section start 
 -------------------------------------------------------------*/
.banner-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

}

.banner-title {
    color: #131313;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
}

.banner-description {
    text-align: center;
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    padding: 20px;
}

.bt-parimary {
    background: #FF900E;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
}

.banner-img img {
    width: 1150px;
    height: 580px;
    margin: 50px 200px 0px 230px;


}
/*-----------------------------------------------------------------------------                             banner-section end 
------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------                             featured-section start 
--------------------------------------------------------------------------*/

.featured-section {
    display: flex;
    align-items: center;
    margin: 100px 200px 0px 300px;

}

.featured-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.featured-img img {
    width: 300px;
    height: 300px;
}

.featured-title {
    font-weight: 500px;
    font-size: 45px;
}

.primary-color {
    color: #727272;
}

.secondary-color {
    color: #131313;
}

.tersery-color {
    color: #FF900E;
}

.featured-description {
    margin-left: 73px;
}

.featured-des {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 0px;

}
/*----------------------------------------------------------------------------                                      featured-section end 
-----------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------                                       section-one end
--------------------------------------------------------------------------*/
 /*------------------------------------------------------------------------- 
                                section-two start                
 --------------------------------------------------------------------------*/
.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.exprience-sections {
    display: flex;
    width: 1300px;
    margin: 130px 100px 20px 120px;
}

.exprience-featurs {
    width: 586px;
    height: 982px;
    margin-right: 54px;
    margin-top: 80px;
}

.exprience-section-main h2 {
    border-left: 5px solid #FF900E;
    font-weight: 700;
    font-size: 45px;
    padding: 10px 0px 5px 10px;
}

.exprience-section-main p {
    width: 586px;
    height: 78px;
    color: #727272;
    padding: 10px 0px 10px 0px;
}

.exprience-section-secondry {
    margin-bottom: 70px;
    background-color: rgb(219, 218, 218);
    padding: 5px;
    border-radius: 8px;
}

.exprience-section-secondry h3 {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    padding: 5px 0px 5px 20px;
}

.exprience-section-secondry p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 5px 0px 5px 20px;
}

.exprience-img img {
    width: 700px;
    height: 959px;
}
.bt-section {
    margin-left: 200px;
    margin-top: -250px;
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;
    color: white;
}
.bt-section h1 {
    margin-top: 40px;
    font-weight: 700;
    font-size: 65px;
    text-align: center;
}
.bt-section p {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}

    /*----------------------------------------------------------------------------                               section-tow end  
    ---------------------------------------------------------------------------*/


    /*-----------------------------------------------------------------------------                             section-tree start 
    ---------------------------------------------------------------------------*/

.some-fact {
    margin-left: 240px;
}

.some-fact h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding-bottom: 10px;
}

.some-fact p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.achivments {
    display: flex;
    justify-content: space-around;
    margin: 50px 200px 100px 200px;
}

.achivment-item {
    background-color: rgb(233, 230, 230);
    padding: 10px;
    transition: 2s;
    border-radius: 8px;

}

.achivment-item:hover {
    transform: rotate(60deg);

}


.achivment {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #FF900E;
    border-radius: 10px;
    padding: 20px;

}

.achivment img h2 p {
    padding: 10px;

}

    /*--------------------------------------------------------------------------                               section-tree end 
    ---------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------                             section-four start 
    --------------------------------------------------------------------------*/
    .sponsor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsor h1 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding: 10px;
}

.sponsor p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    text-align: center;
    padding: 10px;
}

.sponsor-logos {
    margin-top: 50px;
}

.sponsor-logo {
    display: flex;
    align-items: center;

}

.sponsor-logo img {
    width: 165.83px;
    height: 50px;
    margin-left: 50px;
    filter: grayscale(1);
}

/*-------------------------------------------------------------------                               footer-section start 
-------------------------------------------------------------------*/

footer {
    width: 100%;
    height: 200px;


}

footer p {
    margin-left: 500px;
    padding-top: 100px;
    font-weight: 400;
    font-size: 20px;
}

/*-------------------------------------------------------------------------                                 footer-section end
------------------------------------------------------------------------ */

/*------------------------------------------------------------------------
                            media quaries 
 -----------------------------------------------------------------------*/
@media only screen and (max-width:576px) {
    nav {
        width: 100%;
        margin: 5px;
        flex-direction: column;
    }

    nav ul {
        margin-top: 20px;
        margin-left: 5px;
    }

    .banner-img img {
        width: 100%;
        height: auto;
        margin-left: 0px;
    }

    .featured-img {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;

    }

    .featured-section {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .featured-img img {
        width: 100%;
        height: auto;
    }

    .featured-description {
        margin: 0;
        width: 100%;
    }

    .bt-parimary {
        margin: 0;
        width: 100%;
    }

    .exprience-sections {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    }

    .exprience-img img {
        display: none;
    }

    .exprience-featurs {
        width: 100%;
        height: auto;
        margin: 0px;
    }

    .exprience-section-main h2 {
        margin: 0;
        padding: 0;

    }

    .exprience-section-main p {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .exprience-featurs {
        display: none;
    }

    .section-2 {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .achivments {
        display: flex;
        flex-direction: column;
    }
    .bt-section{
        width: 100%;
        height: auto;
        margin:5px 0px 5px 0px;
        
    }
    .featured-description {
        margin: 0;
    }
    .sponsor-logo {
        display: flex;
        flex-direction: column;}
        .sponsor-logo img {
          margin-top: 20px;
        }
      
        footer {
            width: 100%;
            height: auto;
            background-color: grey;
            color: white;
        
        
        }
    
        footer p {
            margin: 0;
            padding: 5px;
            font-weight: 900;
            font-size: 20px;
        }




    .section-3,
    
    .section-4 {
        display: none;
    }
}